@import "tailwindcss";

body {
    background-color: #F3F2F1;
    font-family: 'Garet', 'ui-sans-serif', 'system-ui';
}

.p-drawer .p-drawer-header {
    padding: 8px 16px !important;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
