@import "tailwindcss";

body {
    background-color: #F3F2F1;
    /* font-family: 'MontserratLight', 'ui-sans-serif', 'system-ui'; */
  font-family: 'Montserrat', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}